<!DOCTYPE html>
<html>
    <head>
        <title>Contact form</title>
    </head>
    <body>
        <form action="/contact" method = 'post'>
            <label>
                Name
               <input type="text" name="name" id="">
            </label>
            <br>
            <label>
                Email
                <input type="text" name="email" id="">
            </label>
            <br>
            <label>
                Message
                <input type="text" name="message">
            </label>
            <br>
            <button>Submit</button>
        </form>
    </body>
</html>