<!DOCTYPE html>
<html>
    <head>
        <title>Contact form</title>
    </head>
    <body>
        <form action="/">
            <label>
                Name
               <input type="text" name="Name" id="">
            </label>
            <br>
            <label>
                Email
                <input type="text" name="Email" id="">
            </label>
            <br>
            <label>
                Message
                <input type="text" name="Message">
            </label>
            <br>
            <button>Submit</button>
        </form>
    </body>
</html>